doctype html

html
    head
        title Instance View
        style.
            body {
                font: 13px 'Lucida Console','Courier New';
            }

            th, td {
                padding: 5px;
                border: 1px solid black;
            }
            table {
                border-collapse: collapse;
                border: 1px solid black;
                margin-top: 20px;
            }

    body
        table.table
            caption Instance
            tr
                th ID
                th Active
                th Personal
                th Schema
                th Seed
                th Width
                th Height
                th Players
                th Mobs
            tr
                td= instance.id
                if instance.players.length > 0
                    td= "yes"
                else
                    td= "unloading in "+(instance.getMillisUntilUnload()/1000)+" seconds"
                td= instance.attributes.personal
                td= instance.attributes.schema
                td= instance.attributes.seed
                td= instance.attributes.width
                td= instance.attributes.height
                td= instance.players.length
                td= instance.mobs.length
        table.table
            caption Portals
            tr
                th Location
                th Type
                th Destination
            each portal, ii in instance.portals
                tr
                    td= portal.location.instance_id === instance.id ? ('(' + portal.location.x + ', ' + portal.location.y + ')') : 'ERROR! WRONG INSTANCE!'
                    td= portal.destination_schema
                    td
                        if portal.destination
                            a(href='/diagnostic/instance?id='+portal.destination.instance_id)= portal.destination.instance_id
                            =' (' + portal.destination.x + ', ' + portal.destination.y + ')'
                        else
                            = "Not yet reified"
        table.table
            caption Players
            tr
                th ID
                th Name
                th Location
            each plr, plr_id in instance.players
                tr
                    td 
                        a(href='/diagnostic/player?id='+plr.id)= plr.id
                    td= plr.name
                    td= plr.location.instance_id === instance.id ? ('(' + plr.location.x + ', ' + plr.location.y + ')') : 'ERROR! WRONG INSTANCE!'
        table.table
            caption Mobs
            tr
                th ID
                th Name
                th Location
            each mob, mob_id in instance.mobs
                tr
                    td= mob.id
                    td= mob.name
                    td= mob.location.instance_id === instance.id ? ('(' + mob.location.x + ', ' + mob.location.y + ')') : 'ERROR! WRONG INSTANCE!'

        script(src="/socket.io/socket.io.js")
        script(rc="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
