table.table(class="sortable")
    tr
        th ID
        th Schema
        th Active
        th Personal
        th Width
        th Height
        th Players
        th Mobs
        th Portals
        th Seed
    each inst, inst_id in instances
        tr
            td 
                a(href='/diagnostic/instance?id='+inst.id)= inst.id
            td= inst.attributes.schema
            if inst.players.length > 0
                td= "yes"
            else
                td= "unloading in "+(inst.getMillisUntilUnload()/1000)+" seconds"
            td= inst.attributes.personal
            td= inst.attributes.width
            td= inst.attributes.height
            td= inst.players.length
            td= inst.mobs.length
            td= inst.portals.length
            td= inst.attributes.seed
