doctype html
html
    head
        title GotG
        script(src="/socket.io/socket.io.js")
        script(src="/dependencies/jquery.js")
        script(src="/dependencies/vue.js")
        script(type="module" src="/js/character_creation.js")
        style
            include ../css/character_creation.css

body
    #character_sheet
        .all
            .outer.col
                .nav.row
                    a.flex_none(href="/home") Back to Home
                    button.flex_none(v-on:click="finishCreation()") create
                .char_sheet.col
                    .row
                        .section.row.flex_none
                            p.flex_none='Name: '
                            span.input.flex(contenteditable="true")
                        .section.row
                            p='Race: '
                            select(id="race" onChange="setRace(this.value)")
                        .section.row
                            p Essence: 
                            p {{sheet.essence}}
                    .row
                        .col
                            .row
                                .section
                                    table.table
                                        tr
                                            td
                                                p Flesh:
                                            td
                                                p(id='flesh')
                                        tr
                                            td
                                                p Blood:
                                            td
                                                p(id='blood')
                                        tr
                                            td
                                                p Bone:
                                            td
                                                p(id='bone')
                                        tr
                                            td
                                                p Soul:
                                            td
                                                p(id='soul')
                                        tr
                                            td
                                                p Stamina:
                                            td
                                                p(id='stamina')
                                        tr
                                            td
                                                p Action Points:
                                            td
                                                p(id='ap')
                                        tr
                                            td
                                                p Initiative:
                                            td
                                                p(id='initiative')
                                .section.col
                                    p Traits:
                                    ul(id='traits')
                                    .flex_none
                                        select(id="traitbuy")
                                        button(onclick="addTraitChoice()") +
                            .section
                                table.table
                                    tr
                                        th
                                            p Attribute
                                        th
                                            p Value
                                    tr(v-for="attribute in sheet.attributes")
                                        td
                                            p="{{attribute.name.split('_').map((w)=>{return w.charAt(0).toUpperCase() + w.substring(1).toLowerCase()}).join(' ')  + ':'}}"
                                        td
                                            cnum(v-bind:self="attribute" v-bind:override="button_disable_override")
                            .row
                                .section
                                    p="Inventory: "
                                .section.row
                                    p="Gold: "
                                    p(id="gold")
                        .section
                            table.table
                                tr
                                    th
                                        p Skill
                                    th
                                        p Maximum
                                tr(v-for="skill in sheet.skills")
                                    td
                                        p="{{skill.name.split('_').map((w)=>{return w.charAt(0).toUpperCase() + w.substring(1).toLowerCase()}).join(' ')  + ':'}}"
                                    td
                                        cnum(v-bind:self="skill" v-bind:override="button_disable_override")

